*
	box-sizing: border-box;
// @import "_reset";
@import "_mixins";
@import "skeleton/css/normalize.css"
@import "skeleton/css/skeleton.css"
global-reset();
@import "vars";
@import "fonts";
@import "global";
@import "pages";
