/*********************/
/***** Pages ****/
/*********************/
@import "./pages/menu";
@import "./pages/content";
@import "./pages/side";
div#app
	position: relative;
	font-size: 0;
	min-width: 450px;
	width: 100%;
	*
		font-size: font-size;
